{
 :providers [{:provider :dnsever
              :domain "example.com"
              :subdomains ["" "rabbit" "dog" "www"]
              :user "User Name"
              :authcode "DDNS Authorization Code"}
             ]
 ;; Available log levels = :trace, :debug, :info, :warn, :error, :fatal
 :loglevel :info
 :log-file "clj-ddns-client.log"
 :log-file-size 51200 ; 50KB = 1024 * 50 bytes = 51200 bytes
 :log-file-count 5 ; number of logs to keep
 :update-interval 300 ; seconds
 }
